<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>servlets.AddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowStadiums</servlet-name>
        <servlet-class>servlets.ShowStadiums</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowMatch</servlet-name>
        <servlet-class>servlets.ShowMatch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowFans</servlet-name>
        <servlet-class>servlets.ShowFans</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyTicket</servlet-name>
        <servlet-class>servlets.BuyTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMatch</servlet-name>
        <servlet-class>servlets.AddMatch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStadium</servlet-name>
        <servlet-class>servlets.DeleteStadium</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMatch</servlet-name>
        <servlet-class>servlets.DeleteMatch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStadium</servlet-name>
        <servlet-class>servlets.ChangeStadium</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/AddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowStadiums</servlet-name>
        <url-pattern>/ShowStadiums</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowMatch</servlet-name>
        <url-pattern>/ShowMatch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowFans</servlet-name>
        <url-pattern>/ShowFans</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyTicket</servlet-name>
        <url-pattern>/BuyTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMatch</servlet-name>
        <url-pattern>/AddMatch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStadium</servlet-name>
        <url-pattern>/DeleteStadium</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMatch</servlet-name>
        <url-pattern>/DeleteMatch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStadium</servlet-name>
        <url-pattern>/ChangeStadium</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
